<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container">
        <p>&copy; 2025 Jaspreet Singh. All rights reserved.</p>
        <div>
            <a href="https://github.com/jaspreetsingh36-ops" class="text-white me-3">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://www.linkedin.com/in/jaspreet-singh-685a82222/" class="text-white">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
        </div>
    </div>
</footer>